name: Java CI

on: [push]

jobs:
  build:
    runs-on: rhel8-esxi

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with jdk
        run: pwd
      - name: Compile code using javac
        run: javac HelloWorld.java
      - name: LIst the files
        run: ls
      - name: Run the Program to see the  result
        run: java HelloWorld
